.header{
    grid-area: h;
    background-color:#b7d6f8;
    margin-bottom: 5px;
  }
  .header img{
    height: 90px;
  }
  .loginBlock{
      float: right;
  }
  .loginBlock a{
      color: white;
  }