.discriptionBlock{
    padding: 10px;
}
.largeUserPhoto{
    width: 200px;

}
.photoUpload{
    width: 20em;
}
.editProfile{
    float: right;
    padding-right: 10px;
}
.contacts{
    padding-left: 10px;
}